{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "rules": {
    "no-console": "off",
    "global-require": "off",
    "react/jsx-filename-extension": "off"
  }
}
